/* src/Login.css */
.gradient-yellow-background {
  background: linear-gradient(45deg, #fde047, #facc15, #fcd34d, #fef08a);
  background-size: 300% 300%;
  animation: yellowGradientAnimation 5s infinite ease-in-out; /* Changed from 8s to 5s */
}

@keyframes yellowGradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.glass-effect {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}